.column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    height:200px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
  }
  h1{
    text-align: center;
    font-size: xx-large;
    margin-right: 200px;
  }